<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="placeholder-content">
    <ion-icon name="add-circle-outline" size="large"></ion-icon>
    <h2>Create Recipe</h2>
    <p>Recipe creation coming in Phase 3</p>
  </div>
</ion-content>
