<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Select Your Equipment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="placeholder-content">
    <ion-icon name="construct-outline" size="large"></ion-icon>
    <h2>What's in Your Kitchen?</h2>
    <p>Equipment selection coming in Phase 2</p>

    <ion-button expand="block" routerLink="/onboarding/measurements" class="ion-margin-top">
      Next
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
